function Player.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push argument 3
pop this 3
push pointer 0
return
function Player.getx 0
push argument 0
pop pointer 0
push this 0
return
function Player.gety 0
push argument 0
pop pointer 0
push this 1
return
function Player.gets 0
push argument 0
pop pointer 0
push this 2
return
function Player.move 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop this 0
push this 1
push argument 2
add
pop this 1
push this 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 0
label IF_FALSE0
push this 0
push this 2
add
push constant 511
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 511
push this 2
sub
pop this 0
label IF_FALSE1
push this 1
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 1
label IF_FALSE2
push this 1
push this 2
add
push constant 255
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 255
push this 2
sub
pop this 1
label IF_FALSE3
push constant 0
return
function Player.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 2
add
push this 1
push constant 2
add
push this 0
push this 2
add
push constant 2
sub
push this 1
push this 2
add
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 2
add
push this 1
push this 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Player.collision 4
push argument 0
pop pointer 0
push this 1
push argument 1
call Player.gety 1
push argument 1
call Player.gets 1
add
lt
pop local 0
push this 1
push this 2
add
push argument 1
call Player.gety 1
gt
pop local 1
push this 0
push argument 1
call Player.getx 1
push argument 1
call Player.gets 1
add
lt
pop local 2
push this 0
push this 2
add
push argument 1
call Player.getx 1
gt
pop local 3
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 2
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
return
label IF_FALSE3
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push constant 0
return
